
body {
	background-color: #000000;
}

header, main, footer {
    background-color: #FF0000;
}

header {
    padding-left: 565px;
}

main {
    padding-top: 25px;
    padding-left: 80px;
	padding-bottom: 20px;
}

main div {
	margin: auto;
	overflow: auto;
	width: 100%;
	float: center;
	padding-left: 5px;
}

main div div {
	//background-color: #0000FF;
	width: 32%;
	float: left;
}

footer {
	margin-top: 20px;
}

table, th, td {
	border: solid #000000;
}

table {
	background-color: #FFFFFF;
    border-collapse: collapse;
}

th {
	height: 50px;
	width: 80px;
	background-color: #4CAF50;
}

td {
	text-align: center;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2){
    text-align: left;
    width: 125px;
	padding-left: 5px;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #929292;
}

#classifContainer {
    padding-left: 180px;
}

#games td:nth-child(odd) {
    text-align: left;
    width: 125px;
    padding-left: 5px;
    font-weight: bold;
}

#games td:nth-child(even) {
    text-align: center;
    width: 20px;
    font-weight: normal;
}

h2 {
	margin-bottom: 8px;
	padding-left: 40px;
}
